html,
body {
    margin: 0;
    padding: 0;
    background: #565454;
    font:400 17px 'Calibri','Arial';
}

/*Primary Light: #ffc096*/

/*Primary: #ff8330*/

/*Primary Dark: #c95000*/

/*Secondary Light: #565454*/

/*Secondary: #232222*/

/*Secondary Dark: #000000*/

/*Accent Light: #515456*/

/*Accent: #202122*/

/*Accent Dark: #000000*/