.navbar {
  height: auto;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  background-color: #202122;
  justify-content: flex-start;
  align-items: center;


  .icon {
    flex: 1;
  }

  .all-links {
    flex: 6;
  }

  .link {
    color: #c95000;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    text-decoration: none;
  }

  .active-link {
    @extend .link;
    font-size: 20px;
    color: #ddd;
    background-color: #c95000;
  }

  .logout-button {
    @extend .active-link;
    margin:0 40px;
  }

  .logged-session-text {

  }
}